!!!XML
%notice{:version => '2.0.0'}
  %api-key= api_key
  %notifier
    %name= notifier_name
    %version= notifier_version
    %url http://github.com/toolmantim/toadhopper
  %error
    %class= error.class.name
    %message= "#{error.class.name}: #{error.message}"
    %backtrace
      - backtrace.each do |line|
        %line{:method => line.method, :file => line.file, :number => line.number}
  %request
    %url= url
    %component= component
    - if action && !action.blank?
      %action= action
    - if request && request.params.any?
      %params
        - request.params.each do |key,value|
          %var{:key => key}= value
    - if session && session.any?
      %session
        - session.each do |key,value|
          %var{:key => key}= value
    - if environment && environment.any?
      %cgi-data
        - environment.each do |key,value|
          %var{:key => key}= value

  %server-environment
    %project-root= Dir.pwd
    %environment-name= framework_env
